</div>
</div>

<script src="/js/ui.js"></script>
<script src="/js/jquery-1.11.1.min.js"></script>
<script>
jQuery(function( $ ) {
var keymap = {};
// LEFT
keymap[ 65 ] = "#about";
// RIGHT
keymap[ 66 ] = "#blog";

keymap[ 67 ] = "#contact";

keymap[ 80 ] = "#projects";

keymap[ 86 ] = "#home";

$( document ).on( "keyup", function(event) {
var href,
selector = keymap[ event.which ];
// if the key pressed was in our map, check for the href
if ( selector ) {
href = $( selector ).attr( "href" );
if ( href ) {
// navigate where the link points
window.location = href;
}
}
});
});
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
