<div id="layout">
<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div class="pure-menu pure-menu-open pure-menu-horizontal" id="menu">
    <ul id="menulol">
      <li><a href="/">vnataraj</a>
        <li><a href="/about" title="about">About</a></li>
        <li><a href="/projects" title="projects">Projects</a></li>
        <li><a href="/contact" title="contact">Contact</a></li>
        <li><a href="/blog" title="blog">Blog</a></li>
    </ul>

</div>
</div>


