<div id="layout">
<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div class="pure-menu pure-menu-open pure-menu-horizontal" id="menu">
    <ul id="menulol">
      <li><a href="/" id="home">[v]nataraj</a>
        <li><a href="/about" title="about" id="about">[A]bout</a></li>
        <li><a href="/projects" title="projects" id="projects">[P]rojects</a></li>
        <li><a href="/contact" title="contact" id="contact">[C]ontact</a></li>
        <li><a href="/blog" title="blog" id="blog">[B]log</a></li>
    </ul>

</div>
</div>


